* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Heebo", sans-serif;
  font-family: "Jost", sans-serif;
  background: rgb(54, 54, 54);
  background: linear-gradient(
    90deg,
    rgba(54, 54, 54, 1) 0%,
    rgba(40, 40, 40, 1) 25%,
    rgba(10, 10, 10, 1) 69%
  );
}

.wrapper {
  margin: 8rem 5rem;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 400px;
  height: 350px;
  opacity: 80%;
  border-radius: 1rem;
  transition: 1s;
  animation: my-animation 10s infinite;
}

.card:hover {
  transition: 2s;
  transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.57);
  box-shadow: 0px 0px 98px 0px rgba(255, 255, 255, 0.57);
}

.group1 {
  display: flex;
  margin-left: 1.3rem;
  justify-content: left;
  align-items: center;
}

.group1 .city {
  font-weight: 800;
  font-size: 2.4rem;
  color: white;
}
.group1 img {
  margin-top: 1rem;
  margin-right: 1rem;
  height: 180px;
  height: 180px;
  animation: sun-scale 5s infinite;
}
.group1 .date {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group2 {
  display: flex;
  margin-left: 1.3rem;
  margin-top: 1rem;
  align-items: baseline;
}
.group2 .temperature {
  font-size: 4.5rem;
  font-weight: 800;
  color: white;
}
.group2 .humidity {
  margin-left: 3rem;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}
@keyframes my-animation {
  0% {
    opacity: 40%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 40%;
  }
}
@keyframes sun-scale {
  0% {
    transition: 1s;
    transform: scale(1);
  }
  50% {
    transition: 1s;
    transform: scale(1.1);
  }
  100% {
    transition: 1s;
    transform: scale(1);
  }
}
